<div class="body">
    <div class="container">
        <div class="footer">
            <div class="heading logo">Go Realtors</div>
            <div class="text">Solution for easy and flexible house hunting.You can trust us anywhere through this platform </div>
        </div>
        <div class="footer">
            <div class="heading">Property</div>
            <div class="list">
                <div class="listItem" (click)="scrollToTarget('readyToMove')">Ready to move</div>
                <div class="listItem" (click)="scrollToTarget('underConstruction')">Under Constrution</div>
                <div class="listItem" (click)="scrollToTarget('upcomingProjects')">Upcoming Projects</div>
                <div class="listItem" (click)="scrollToTarget('upper')">Search Property</div>
            </div>
        </div>
        <div class="footer">
            <div class="heading">About</div>
            <div class="list">
                <div class="listItem">Learning Modules</div>
                <div class="listItem">Partnerships</div>
                <div class="listItem">Watch demo</div>
                <div class="listItem">Event</div>
            </div>
        </div>
        <div class="footer">
            <div class="heading">Contact us</div>
            <div class="list">
                <div class="listItem">
                    <img src="https://icons-for-free.com/iconfiles/png/512/map+marker-1325051861362825518.png" height="20px" width="25px">
                    <div class="text">
                        Sec. 109 Near Dwarka Express way
                    </div>
                </div>
                <div class="listItem" (click)="contact(1,'+91 7027200312')">
                    <img src="https://www.freeiconspng.com/thumbs/phone-icon/office-phone-icon--25.png" height="20px" width="25px">
                    <div class="text">+91 7027200312</div>
                </div>
                <div class="listItem" (click)="contact(2,'pankaj.phour70@gmail.com')">
                    <img src="https://cdn-icons-png.flaticon.com/512/666/666162.png" height="20px" width="25px">
                    <div class="text">pankaj.phour70@gmail.com</div>
                </div>
                <div class="listItem" (click)="contact(3,'+917027200312')">
                    <img src="https://cdn-icons-png.flaticon.com/512/739/739247.png" height="20px" width="25px">
                    <div class="text">+91 7027200312</div>
                </div>
            </div>
        </div>
    </div>
</div>