<div class="body">
    <div class="container">
        <div class="footer">
            <div class="heading logo">Go Realtors</div>
            <div class="text">Solution for easy and flexible house hunting.You can trust us anywhere through this platform </div>
        </div>
        <div class="footer">
            <div class="heading">Property</div>
            <div class="list">
                <div class="listItem">Learning Modules</div>
                <div class="listItem">Partnerships</div>
                <div class="listItem">Watch demo</div>
                <div class="listItem">Event</div>
            </div>
        </div>
        <div class="footer">
            <div class="heading">About</div>
            <div class="list">
                <div class="listItem">Learning Modules</div>
                <div class="listItem">Partnerships</div>
                <div class="listItem">Watch demo</div>
                <div class="listItem">Event</div>
            </div>
        </div>
        <div class="footer">
            <div class="heading">Resources</div>
            <div class="list">
                <div class="listItem">Learning Modules</div>
                <div class="listItem">Partnerships</div>
                <div class="listItem">Watch demo</div>
                <div class="listItem">Event</div>
            </div>
        </div>
    </div>
</div>