
<div class="body">
    <div class="navbar">
        <div class="left">
            <img src="/assets/goRealtors.logo.jpg" height="55" width="50" style="cursor: pointer;" routerLink="/">
        </div>
        <div class="right">
            <div class="list">
                <div class="item" routerLink="all-projects">All Projects</div>
                <div class="item" routerLink="/rent">Rent</div>
                <div class="item" routerLink="/team">Team</div>
                <div class="item" routerLink="/about">About</div>
                <button class="resumebtn" routerLink="/contact">Contact</button>
            </div>
        </div>
    </div>
</div>

<div class="device" [ngStyle]="{'height':navOpen ? '600px' : '70px'}">
	<div class="container">
		<div class="left">
            <img src="/assets/goRealtors.logo.jpg" height="55" width="50" style="cursor: pointer;" routerLink="/">
        </div>
		<button id="burger" class="open-main-nav" (click)="toggleNav()" [ngStyle]="{'padding-top': navOpen ? '0px' : ''}">
			<span class="burger" *ngIf="!navOpen"></span>
            <div class="crossIcon" *ngIf="navOpen" style="padding-top: 0px;"><img src="/assets/cross.png" height="30" width="30" ></div>
			<!-- <span class="burger-text">Menu</span> -->
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li (click)="scrollTo('readyToMove');toggleNav()">
					<p>All Projects</p>
				</li>
				<li (click)="toggleNav()">
					<p>Rent</p>
				</li>
				<li (click)="toggleNav()" routerLink="/team">
					<p>Team</p>
				</li>
				<li (click)="toggleNav()">
					<p>About</p>
				</li>
				<li (click)="toggleNav()" routerLink="/contact">
					<p>Contact</p>
				</li>
			</ul>
		</nav>
	</div>
</div>