<div class="body">
    <div class="container">
        <div class="content">
            <div class="topImage">
                <div class="mainImage">
                    
                            <img [src]="Project.allImages[selectedImage].image" alt="Go realtors Projects on dwarka expressway">
                        
                <!-- <swiper-container class="mySwiper" #swiper (slidechange)="slideChange($event)" pagination="true" navigation="true" direction="horizontal">
                    <ng-container *ngFor="let data of Project.allImages">
                        <swiper-slide>
                                <img [src]="data.image" alt="Go realtors Projects on dwarka expressway">
                                
                            </swiper-slide>
                        </ng-container>
                      </swiper-container> -->
                </div>
                <div class="allImages">
                    <img [src]="data.image" height="80px" width="90px" alt="Raheja atharva images" *ngFor="let data of Project.allImages;let i = index" (click)="selectImage(i)" [ngStyle]="{'border':selectedImage === i ? '2px solid gray' : '2px solid transparent'}">
                </div>
            </div>

            <div class="title">
                <div class="name">{{Project.name}}</div>
                <div class="location">
                    <img src="https://icons-for-free.com/iconfiles/png/512/map+marker-1325051861362825518.png" height="20px" width="40px">
                    <div class="text">
                        {{Project.location}}
                    </div>
                </div>

            </div>

            <div class="amentities">
                <div class="container">
                    <div class="amentitytitle">{{Project.amentities.title}}</div>
                    <div class="text">{{Project.amentities.text}}</div>
                    <div class="data">
                        <div class="card" *ngFor="let amentity of Project.amentities.data">
                            <div class="image">
                                <img [src]="amentity.image" alt="amentity image">
                            </div>
                            <div class="name">{{amentity.name}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="amentities availableFlats">
                <div class="container">
                    <div class="amentitytitle">{{Project.available.title}}</div>
                    <div class="text">{{Project.available.text}}</div>
                    <div class="data">
                        <div class="flatCard" *ngFor="let flat of Project.available.flats">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>