<div class="body">
    <div class="container">
        <div class="content">
            <div class="cardsContainer">
            <div class="agentcard" *ngFor="let agent of agents;let i = index"[ngStyle]="{flexDirection: i%2!==1 ? 'row' : 'row-reverse'}">
                <div class="image">
                    <img [src]="agent.image">
                </div>
                <div class="right">
                <div class="name">{{agent.name}}</div>
                <div class="details">{{agent.about}}</div>
                <div class="links">
                    <div class="link">
                        <img src="assets/emailBlue.png" height="25px" width="25px">
                    </div>
                    <div class="link">
                        <img src="assets/phoneBlue.png" height="25px" width="25px">
                    </div>
                    <div class="link">
                        <img src="assets/whatsappBlue.png" height="25px" width="25px">
                    </div>
                </div>
            </div>
            </div>
            </div>

        </div>
        <div class="footer">
            <app-contact></app-contact>

        </div>
    </div>
</div>