.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.agentcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 80%;
    height: 450px;
    margin-bottom: 70px;
    background-color: whitesmoke;
    padding: 10px;
}
.image,.right{
    max-width: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.right{
    row-gap: 30px;
}
.right .name{
    font-size: 35px;
    font-weight: 600px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.links{
    display: flex;
    max-width: 100%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.link img{
    height: 35px;
    width: 35px;
    cursor: pointer;
    object-fit: contain;

}
.link img:hover{
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}


.footer{
    width: 100%;
    margin-top: 50px;
}




@media only screen and (max-width:768px){
    .agentcard{
        display: flex;
        flex-direction: column !important;
        max-width: 400px;
        width: 95%;
        height: 100%;
    }
    .image,.right{
        max-width: 100%;
        width: 100%;
    }
    .image{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
    }
    .right{
        align-items: center;
    }
}