<div class="body">
    <div class="container">
        <div class="intro">
            <div class="introText">
                <div class="heading">Helping you find the property of your dreams.</div>
                <div>Creating quality urban lifestyles, building stronger communities</div>
                <button class="contactButton">Get Started</button>
            </div>
            <div class="introImg">
                <img src="/assets/scenery.svg">
            </div>
        </div>
    </div>
</div>